<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="assets/css/main.css" type="text/css" rel="stylesheet">
    <title>PropertyCross</title>
</head>
<body>

<div id="wrapper">

</div>

<script type="text/template" id="form-template">
    <section class="top-section">
        <h2>PropertyCross</h2>
        <button class="faves">Faves</button>
    </section>
    <p>Use the form below to search for houses to buy.
        You can search by place-name, postcode, or click 'My location', to search in your current location.</p>
    <input type="text" size="90" id="inputCity" autofocus="" value=''>
    <p>
        <button id="go-button">Go</button>
    </p>
    <p id="recent-searches">Recent searches: </p>
</script>

<script type="text/template" id="list-part1-template">
    <p id="matches"> <%- amountHousesOnThePage %> of <%- amountOfAllHouses %> matches </p>
</script>

<script type="text/template" id="list-part2-template">
    <ul class="house-list"></ul>
    <div id="spinner-loader"></div>
    <button id="more-results" class="more-results-hide">More results</button>
</script>


<script type="text/template" id="list-part3-template">
    <li id="<%- id %>">
        <div class="one-house-briefly">
            <img class="thumb-img" src=<%- thumbUrl %> alt='house' />
            <span class="house-info-cost"><%- priceFormatted %></span>
            <span class="house-info-summary"><%- summary %></span>
        </div>
        <p>&nbsp;</p>
    </li>
</script>

<script type="text/template" id="details-template">
    <section class="top-section">
        <h2>Property Details</h2>
        <button class="faves"> + </button>
    </section>
    <p class="font20"><b> <%- priceFormatted %> </b></p>
    <p class="font20"><b> <%- title %> </b></p>
    <img class="big-img" src=<%- imgUrl %> alt='house' />
    <p><span> <%- bedroomNumber %> bed, </span>
    <span> <%- bathroomNumber %> bathroom </span></p>
    <span class="house-info-summary"><%- summary %></span>
</script>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/backbone/backbone.js"></script>
<script src="bower_components/backbone-localstorage/backbone-localstorage.js"></script>
<script src="src/models/house.model.js"></script>
<script src="src/collections/list_of_houses.collection.js"></script>
<script src="src/collections/favorites.collection.js"></script>
<script src="src/views/details.view.js"></script>
<script src="src/views/house_Info_briefly.view.js"></script>
<script src="src/views/list_of_houses.view.js"></script>
<script src="src/views/form.view.js"></script>
<script src="src/router.js"></script>
<script src="src/main.application.js"></script>
</body>
</html>