#wrapper {
    background: #fff;
    max-width: 600px;
    width: 100%;
    margin: 35px auto;
}
p#matches{
    font-size: 22px;
    text-align: center;
}
section#top-section {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    font-size: 20px;
}

section p {
    font-size: 16px;
}

h2 {
    text-align: center;
    float: left;
    margin-left: 200px;
}

button#faves {
    float: right;
    font-size: 20px;
    margin-top: 25px;
}
button#go-button {
    font-size: 20px;
}
p#recent-searches {
    font-size: 18px;
}
#spinner-loader {
    animation: spinner-loader 1500ms infinite linear;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    -moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    -webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    display: none;
    font-size: 10px;
    width: 1em;
    height: 1em;
    overflow: hidden;
    text-indent: 100%;
    margin: 50px auto;
}
@keyframes spinner-loader {
    100% {
        transform: rotateZ(360deg);
    }
}
.one-house-briefly {
    width: 100%;
    border: solid;
    float: left;
}
.one-house-briefly + p {
    line-height: 1px;
}
.house-info-cost, .house-info-summary, .thumb-img{
    float: left;
    margin: 5px 0 5px 5px;
}
.house-list {
   /* list-style: none; */
    list-style-image:none;
    list-style-type: decimal;
}
button.more-results-hide {
    font-size: 20px;
    display: none;
    margin: 0 auto;
}
button.more-results-show {
    font-size: 20px;
    display: block;
    margin: 0 auto;
}
